body {
  background-color: rgba(255, 0, 0, 0.733);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: auto;
}

.box {
  width: 1000px;
  height: 2500px;
  background-color: black;
  padding: 60px;
  color: white;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

.profile {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  border-radius: 50%;
}

h1 {
  font-weight: 100;
  letter-spacing: 7;
  font-size: 50px;
}

h3 {
  font-weight: 100;
  letter-spacing: 5;
  font-size: 30px;
}

.icons {
  font-size: 40px;
}

.icons a {
  color: white;
}

.icons a :hover {
  color: gray;
}

.boxed {
  border: 1px solid white;
  background-color: orangered;
  height: 30px;
  text-align: auto;
  font-size: 20px;
  padding: 40px;
}

p {
  font-size: 25px;
  font-style: normal;
  font-family: cursive;
  letter-spacing: 10;
}

ol {
  list-style: none;
  font-size: 25px;
  font-family: cursive;
  letter-spacing: 10;
  font-style: italic;
}

#code {
  height: 170px;
  width: 300px;
  float: left;
}

span {
  font-size: 28px;
}

hr.project {
  border: dotted;
}

#travel {
  height: 170px;
  width: 300px;
  float: left;
}

.hobbies {
  font-size: 25px;
  pointer-events: none;
}

a {
  color: rgb(67, 155, 238);
}
